<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Passive Income Source: create your own passive income to experience your life to the fullest.</title>
		<meta charset="UTF-8">
  		<meta name="description" content="Movie Downloading Site">
  		<meta name="keywords" content="Movie,Download,Latest,Released,Hollywood,Film,Bollywood">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="chart line icon"></i>Passive Income</div>
				<a href="/" class="item">Home</a>

			</div>
		</div>