i.icon{
	font-size: 2em;
}

.container.main{
	margin-top:7.0em;
}
.active{
				color:red;
			}
			.move{
				border:1px solid black;
				border-radius: 2px;
				background-color: white;
				width:auto;
				text-decoration: none;
				padding:3px;
			}